/partonAnalysis/build
/showerAnalysis/build
/showerAnalysis/a.out
/showerAnalysis/rubbishCode.cpp
/.vscode
/showerAnalysis/histogram
/partonAnalysis/events
/partonAnalysis/hist
/partonAnalysis/CMakeLists.txt
/statistics/build
/statistics/graph